@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

	html, body, div, span, h1, h2, h3, p, figure, figcaption, footer, header, menu, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	:root{
		--body-bg: #fff;
		--body-bg-color: #fff;
		--h2-h3-color: rgba(15, 80, 124, 0.979);
		--button-bg-color: #fff;
		--button-color: #252525 !important;
		--box-shadow: inset 0 0 0 2px #222222;
		--box-shadow-color: #222222 !important;
		--header-bg: #f3f3f3;
		--header-a: #202020;
		--navPanel-bg: #1c1c1c;
		--navPanel-bg-color: #fff;
		--banner-bg-color: #0c0c0c;
		--sobremim-bg-color: #f3f3f3;
		--sobremim-bg:-moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f3f3f3 0%, #f3f3f3 100%);
		--sobremim-bg:-webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f3f3f3 0%, #f3f3f3 100%);
		--sobremim-bg:linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f3f3f3 0%, #f3f3f3 100%);
		--sobremim-filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=1 );
		--sobremim-p: #202020;
		--projetos-article-p: #474747;
		--projetos-article-icon: #b3b3b3;
		--footer-bg-color: #e0e0e0;
		--footer-color:#585858;
		--footer-h6: rgba(36, 124, 184, 0.979);
		--footer-a:#737373;
		--footer-a-link: #363636;
		--footer-ahover-link: rgba(36, 124, 184, 0.979);
		--footer-bg-icon: #e0e0e0;
		--icon-a-bg-color: #e0e0e0;
		--icon-a-color: #535353;
		--facebook-bg: rgba(49, 138, 197, 0.979);
		--twitter-bg: rgba(49, 138, 197, 0.979);
		--instagram-bg: rgba(49, 138, 197, 0.979);
		--linkedin-bg: rgba(49, 138, 197, 0.979);
	}

	.dark-mode:root{
		--body-bg: rgb(14, 14, 36);
		--body-bg-color: rgb(9, 9, 29);
		--h2-h3-color: #648dae;
		--button-bg-color: rgb(14, 14, 36);
		--button-color: #ffffff !important;
		--box-shadow: inset 0 0 0 2px #e0e0e0;
		--box-shadow-color: #e0e0e0 !important;
		--header-bg: #11101f;
		--header-a: #f3f3f3;
		--navPanel-bg: #1c1c1c;
		--navPanel-bg-color: #fff;
		--banner-bg-color: #0c0c0c;
		--sobremim-bg-color: rgb(9, 9, 29);
		--sobremim-bg:-moz-linear-gradient(left, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 50%, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 100%);
		--sobremim-bg:-webkit-linear-gradient(left, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 50%, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 100%);
		--sobremim-bg:linear-gradient(to right, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 50%, rgb(9, 9, 29) 0%, rgb(9, 9, 29) 100%);
		--sobremim-filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(9, 9, 29)', endColorstr='rgb(9, 9, 29)',GradientType=1 );
		--sobremim-p: #f0f0f0;
		--projetos-article-p: #f0f0f0;
		--projetos-article-icon: #f0f0f0;
		--footer-bg-color: #02001a;
		--footer-color:#bebebe;
		--footer-h6: #648dae;
		--footer-a:#f0f0f0;
		--footer-a-link: #f0f0f0;
		--footer-ahover-link: rgba(36, 124, 184, 0.979);
		--footer-bg-icon: #02001a;
		--icon-a-bg-color: #02001a;
		--icon-a-color: #e6e6e6;
		--facebook-bg: rgba(49, 138, 197, 0.979);
		--twitter-bg: rgba(49, 138, 197, 0.979);
		--instagram-bg: rgba(49, 138, 197, 0.979);
		--linkedin-bg: rgba(49, 138, 197, 0.979);	
	}

	body {
		line-height: 1;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\37 5\25 {
		width: 60em;
	}

	.container.\35 0\25 {
		width: 40em;
	}

	.container.\32 5\25 {
		width: 20em;
	}

	.container {
		width: 80em;
	}

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2em;
	}

	.row {
		margin: 0 0 -1px -2em;
	}

	.row.uniform > * {
		padding: 2em 0 0 2em;
	}

	.row.uniform {
		margin: -2em 0 -1px -2em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 4em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -4em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 4em 0 0 4em;
	}

	.row.uniform.\32 00\25 {
		margin: -4em 0 -1px -4em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3em 0 0 3em;
	}

	.row.uniform.\31 50\25 {
		margin: -3em 0 -1px -3em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1em 0 0 1em;
	}

	.row.uniform.\35 0\25 {
		margin: -1em 0 -1px -1em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.5em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.5em 0 0 0.5em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.5em 0 -1px -0.5em;
	}

	body {
		background: var(--body-bg);
	}

	body {
		background-color: var(--body-bg-color);
		color: #111111;
	}

	body, input, select, textarea {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
	}

		a:hover {
			text-decoration: underline;
		}

	p {
		margin: 0 0 2em 0;
		margin-left: 3%;
	}

	h1, h2, h3 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
		text-align: center;
	}

	h3 {
		font-size: 1.35em;
		margin-left: 10%;
	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	h1{
		color: rgba(31, 31, 31, 0.979);
	}

	h2, h3{
		color: var(--h2-h3-color);
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .8em;
		font-weight: 700;
		height: 3.5em;
		line-height: 3.65em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: var(--button-bg-color);
		color: var(--button-color);
	}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: var(--box-shadow);
			color: var(--box-shadow-color);
		}

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
		margin-left: 3%;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
	}

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: var(--header-bg);
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: var(--header-a) ;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .85em;
		}

			#header a:hover {
				color: rgba(36, 124, 184, 0.979);
			}

			#header a:last-child {
				padding-right: 0em;
			}

	.navPanelToggle {
		position: fixed;
		text-decoration: none;
		height: 4em;
		right: 3em;
		top: .75em;
		width: 4em;
		display: none;
		z-index: 10002;
	}

	#navPanel {
		-moz-transform: translatex(20em);
		-webkit-transform: translatex(20em);
		-ms-transform: translatex(20em);
		transform: translatex(20em);
		-moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-overflow-scrolling: touch;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		background: var(--navPanel-bg);
		color: var(--navPanel-bg-color);
		height: 100%;
		max-width: 80%;
		width: 20em;
		padding: 1.5em;
		text-transform: uppercase;
		z-index: 10003;
		display: none;
	}

	#banner {
		background-image: url("../../images/banner.png");
		background-color: var(--banner-bg-color);
		background-size: cover;
		background-repeat: no-repeat;
		text-align: left;
		position: relative;
	}

		#banner h1 {
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
			margin-left: 82px;
		}

			#banner h1 span {
				font-weight: 400;
			}

		body.is-loading #banner:after {
			opacity: 1;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 10em 0 8em 0;
			}

		}

	#main {
		padding: 4em 0 2em 0;
	}

	#one {
		padding: 6em 0 4em 0;
	}

	#sobremim {
		padding: 6em 0 4em 0;
		background: var(--sobremim-bg-color);
		background: var(--sobremim-bg);
		background: var(--sobremim-bg);
		background: var(--sobremim-bg);
		filter: var(--sobremim-filter);
	}

		#sobremim .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
		}

		#sobremim h3{
			margin-left: 60px;
		}

			#sobremim .inner article {
				width: 50%;
			}

				#sobremim .inner article:first-child {
					padding-right: 6em;
				}

				#sobremim .inner article:last-child {
					padding-left: 6em;
				}

				#sobremim .inner {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#sobremim .inner article {
						width: 100%;
					}

					#sobremim p{
						margin-left: 60px;
						color: var(--sobremim-p);
					}

						#sobremim .inner article:first-child {
							padding-right: 0;
							padding-bottom: 2em;
						}

						#sobremim .inner article:last-child {
							padding-left: 0;
							padding-top: 2em;
						}

	#projetos {
		padding: 6em 0 4em 0;
	}

		#projetos .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			-ms-flex-pack: justify;
		}

			#projetos .inner article {
				width: 26%;
				display: block;
			}

				#projetos .inner article p {
					color: var(--projetos-article-p);
				}

				#projetos .inner article .icon {
					color: var(--projetos-article-icon);
					font-size: 3em;
				}

.site-footer
{
  background-color:var(--footer-bg-color);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--footer-color);
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:var(--footer-h6);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-left: 48px;
  letter-spacing:2px
}
.site-footer a
{
  color:var(--footer-a);
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  margin-left: 48px;
}
.footer-links a
{
  color:var(--footer-a-link);
}
.footer-links a:hover{
  color:var(--footer-ahover-link);
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  position: right;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:var(--footer-bg-icon);
}
.copyright-text
{
  margin-left: 500px;
}

.social-icons
{
  padding-left: 700px;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color: var(--icon-a-bg-color);
  color:var(--icon-a-color);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a.facebook:hover
{
  background-color: var(--facebook-bg)
}
.social-icons a.twitter:hover
{
  background-color: var(--twitter-bg)
}
.social-icons a.instagram:hover
{
  background-color: var(--instagram-bg)
}
.social-icons a.linkedin:hover
{
  background-color: var(--linkedin-bg)
}